
body {
    background-color: pink;
}

.list {
    width: 80%;
    margin: 10px auto;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.5em;
}

img {
    width: 30%;
    display: block;
    margin:0 auto;
    border: 4px solid steelblue;
}

.quote {
    padding: 10px;
    text-align: center;
    font-style: italic;
 }

 h2{
    text-align: center;
    font-display: white;

 }