#active {
  background-color: white;
  color: steelblue;
}
.main-para {
  width: 80%;
  margin: 50px auto;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5em;
}
nav {
  text-align: center;
  background-color: steelblue;
  color: white;
  padding: 25px;
}
a {
  font-size: 1.5em;
  color: white;
  margin: 40px;
  padding: 25px;
}
  h1 {
    text-align: center;
    color: steelblue;
    margin: 50px 0;
}
  img {
    width: 80%;
    display: block;
    margin:0 auto;
    border: 4px solid steelblue;
}
  p {
    padding: 10px;
    margin: 50px auto;
}
  footer p {
    font-size: 20px;
    padding: 25p;
    margin: 20px
  }
  a:hover {
    background-color: white;
    color: steelblue;
  }  
footer {
  text-align: center;
  background-color: steelblue;
  color: white;
  padding: 10px;
} 
body {
  margin: 0;
}
